extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | WaystoNews is a reputable online news source providing the latest and most reliable news from around the world.
        | <br /><br />
        |Our dedicated team of journalists works tirelessly to deliver up-to-date and accurate information on a wide range of topics, including politics, business, technology, entertainment, and more.
        | <br /><br />
        | It's a good way to know something new.
        | <br /><br />
        |Stay informed with WaystoNews and explore the world through our news articles.